<!-- <mat-card>
    <mat-card-content>
        <mat-card-subtitle><p class="text-light">{{user.name}}</p></mat-card-subtitle>
        <mat-card-title><p class="text-light">{{post.text}}</p></mat-card-title>
    </mat-card-content>
</mat-card> -->

<mat-list-item lines="4">
    <div matListItemTitle class="text-light text-wrap word-break">{{user.name}}</div>
    <div matListItemLine class="forum-desc text-light lh-sm word-break mb-2">{{post.text}}</div>
    <mat-divider></mat-divider>
</mat-list-item>