<mat-list-item class="list-item">
    <div class="box-post">
        <div class="box-text">
            <span matListItemTitle class="text-light text-wrap word-break">{{user.name}}</span>
            <span matListItemLine class="forum-desc text-light lh-sm word-break mb-2">{{post.text}}</span>
        </div>
        <div class="box-like">
            <fa-icon class="icon-like" [icon]="faHeart" size="lg"></fa-icon> 
            <fa-icon class="icon-dislike" [icon]="faHeartBroken" size="lg"></fa-icon>
        </div>
    </div>
    <mat-divider></mat-divider>
</mat-list-item>