<div class="container">
    <mat-nav-list>
        <div mat-subheader>
            <div class="d-flex flex-row justify-content-between border-bottom mb-4">
                <h3 class="title">Threads</h3>
                <a [routerLink]="['/newThread-page']" [queryParams]="{forumId:forum.id ? forum.id : -1}">
                    <p class="text-light no-decoration">Criar Thread</p>
                </a>
            </div>
        </div>

        <div *ngFor="let fthread of listaFThreads">
            <app-fthread [id]="fthread.id? fthread.id : -1"></app-fthread>
            <mat-divider></mat-divider>
        </div>
    </mat-nav-list>
</div>
