<div class="sidebar">
    <div class="img-logo">
        <a [routerLink]="['/']">
            <img src="../../../assets/logoCodeSpace.png" alt="" class="logo">
        </a>
    </div>
    <div class="body-sidebar">
        <div class="sidebar-elem icon home" [routerLink]="['/']">
            <fa-icon [icon]="faHouse" size="2x"></fa-icon>
        </div>
        <div class="sidebar-elem text text-home" [routerLink]="['/']">
            Home
        </div>
    
        <div class="sidebar-elem icon top-voted">
            <fa-icon [icon]="faCircleArrowUp" size="2x"></fa-icon>
        </div>
        <div class="sidebar-elem text text-top-voted">
            Mais votados
        </div>
        <div class="sidebar-elem icon top-voted">
            <fa-icon [icon]="faCircleArrowUp" size="1x"></fa-icon>
        </div>
        <div class="sidebar-elem text today">
            Hoje

        </div>
        <div class="sidebar-elem icon last-week">
            <fa-icon [icon]="faCircleArrowUp" size="1x"></fa-icon>
        </div>
        <div class="sidebar-elem text last-week">
            Última Semana
        </div>
        <div class="sidebar-elem icon last-month">
            <fa-icon [icon]="faCircleArrowUp" size="1x"></fa-icon>
        </div>
        <div class="sidebar-elem text last-month">
            Último Mês
        </div>
    </div>

    <div class="user">
        <fa-icon class="icon-user" [icon]="faCircleUser" size="2x"></fa-icon>
        <div class="user-text">
            User
        </div>
        
    </div>
</div>

