<div class="box-fthread">
    <div class="box-text">
        <div class="title">{{fthread.name}}</div>
        <p class="mb-3 text-light">{{fthread.text}}</p>
        <p class="text-light mb-4">Criado por {{user.name}}</p>
    </div>
    <app-fthread-reaction [fthreadId]="fthreadId? fthreadId : 0"></app-fthread-reaction>
</div>

<div class="border-bottom"></div>


<mat-list>
    <div *ngFor="let post of listaPosts">
        <app-post [id]="post.id? post.id : -1"></app-post>
        <mat-divider></mat-divider>
    </div>
</mat-list>

<div class="input-reply">
    <mat-form-field>
        <mat-label class="text-light">Responder</mat-label>
        <textarea matInput cols="4000"  id="text-reply"></textarea>
    </mat-form-field>
    <div>
        <button mat-button color="primary" type="button" (click)="sendReply()">Enviar</button>
    </div>
</div>
