.box-fthread{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
  
.box-like{
    display:flex;
    flex-direction: column;
}

.icon-like,.icon-dislike{
    color: #c0b4bc;
    transition: linear 0.3s;
}

  
.icon-like:hover{
    color: red;
    transition: linear 0.3s;
}
  
.icon-dislike:hover{
    color:blue;
    transition: linear 0.3s;
}