<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="col-12">
        <label for="input-username text-light">Nome de Usuário</label>
        <input type="text" class="form-control" id="input-username" formControlName="username"/>
    </div>
    <div class="col-12">
        <label for="input-username text-light">Nome de Exibição</label>
        <input type="text" class="form-control" id="input-name" formControlName="username"/>
    </div>
    <div class="col-12">
        <label for="input-email text-light">E-mail</label>
        <input type="text" class="form-control" id="input-email" formControlName="email"/>
    </div>
    <div class="col-12">
        <label for="input-password text-light">Senha</label>
        <input type="password" class="form-control" id="input-password" formControlName="password"/>
    </div>
    <div class="col-12">
        <label for="input-repassword text-light">Confirmação da Senha</label>
        <input type="password" class="form-control" id="input-repassword" formControlName="repassword"/>
    </div>
    <button type="submit">Cadastrar</button>
</form>