<div class="body-footer container">
  <footer class="py-3 my-4 border-top">
    <div class="mx-auto d-flex flex-wrap justify-content-between">
      <ul class="md-3 mb-md0  justify-content-start">
          <a class="link-secondary m-2" href="https://www.linkedin.com/in/vitor-costa-carvalho/">
            <fa-icon [icon]="faLinkedin" size="2x"></fa-icon>
          </a>
          <a class="link-secondary m-2" href="https://github.com/VitorCCarvalho">
            <fa-icon [icon]="faGithub" size="2x"></fa-icon>
          </a>
      </ul>
      <span class="mb-3 mb-md-0 text-body-secondary">Vitor Carvalho 2023</span>
    </div>
  </footer>
</div>

