<mat-list-item class="list-item" style="cursor: pointer" [routerLink]="['/fthread-page']" [queryParams]="{fthreadId: fthread.id}">
        <div class="box-item">
                <div class="item-text">
                        <span matListItemTitle class="list-item-title">{{fthread.name}}</span>
                        <span matListItemLine class="list-item-desc">{{fthread.text}}</span>
                        <span matListItemLine class="list-item-author">Enviado por: {{name}}</span>
                        <span *ngIf="showForum" matListItemLine class="list-item-title">Fórum: {{forum}}</span>
                </div>

                <div *ngIf="score > 0" ngclass="item-score positive">
                        +{{score}}
                </div>
                <div *ngIf="score == 0;" ngclass="item-score neutral">
                        {{score}}
                </div> 
                <div *ngIf="score <0;" ngclass="item-score negative">
                        {{score}}
                </div>    
        </div>
        
</mat-list-item>
