#mat-list-item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mat-title{
  padding: rem;
}


.box-like{
  display:flex;
  flex-direction: column;
}

.icon-like{
  color: #c0b4bc;
}

.icon-like:hover{
  color: red;
}

.icon-dislike:hover{
  color:blue;
}