.box-like{
    display:flex;
    flex-direction: column;
}

.likes, .dislikes{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #c0b4bc;
    transition: linear 0.3s;
    border: #c0b4bc solid 2px;
    border-radius: 30%;
    padding: 0.4rem;
    background-color: transparent;

}

.likes:hover{
    color: red;
    transition: linear 0.3s;
    cursor: pointer;
    border-color: red;
}

.likes-selected{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: red;
    cursor: pointer;
    transition: linear 0.3s;
    border: red solid 2px;
    border-radius: 30%;
    padding: 0.15rem;
    background-color: transparent;
}

.likes-selected:hover{
    color: #c0b4bc;
    transition: linear 0.3s;
    cursor: pointer;
    border-color: #c0b4bc;
}

.dislikes:hover{
    color:blue;
    transition: linear 0.3s;
    cursor: pointer;
    border-color: blue;
}

.dislikes-selected{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: blue;
    cursor: pointer;
    transition: linear 0.3s;
    border: blue solid 2px;
    border-radius: 30%;
    padding: 0.15rem;
    background-color: transparent;
}

.dislikes-selected:hover{
    color:#c0b4bc;
    transition: linear 0.3s;
    cursor: pointer;
    border-color: #c0b4bc;
}